{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "externalHelpers": false,
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "dynamicImport": true,
            "dts": true
        },
        "target": "es2022"
    },
    "exclude": [".*\\.js$", ".*\\.map$"],
    "module": {
        "type": "commonjs"
    },
    "sourceMaps": true
}